.header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.678);

    h1 {
        font-weight:900;
    }
    padding-bottom: 10px;
}


.disclaimer {
    font-size: 0.7rem;
    background-color: rgba(0, 0, 0, 0.231);
    color: rgba(255, 255, 255, 0.911);
    line-height: 0.8rem;
    padding: 4px;

    a {
         color: rgba(255, 255, 255, 0.911);
        &:hover {
            cursor: pointer;
        }
    }
}