.heading {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(73, 66, 66, 0.678);
}

.content {
  @media (min-width: 600px) {
    padding-left: 84px;
    padding-right: 60px;
  }

  @media (max-width: 600px) {
    p {
      padding: 0 10px;
    }
  }
}

.content-body {
  @media (max-width: 600px) {
    margin-top: -20px;
  }
}
