.filters {
  height: 40px;
  width: fit-content;
  /* padding-top: 10px; */
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}
